body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2D796D 0%, rgba(0, 68, 69, 0) 99.99%, rgba(0, 68, 69, 0) 100%), #004445;
}

.container {
    height: 100vh;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .profile  img {
    width: 220px;
    height: 220px;

    border: 4px solid #F7B401;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 110px;

}

.container > p {
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: white;

    margin-top: 20px;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 50%;

}

.buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 300px;
    height: 48px;
    margin-top: 20px;
    
    border: 0px;
    border-radius: 8px;

    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;

    color: white;
    cursor: pointer;
}

.buttons a:hover {  
    color: #FFF;
    filter: brightness(90%)
}


.buttons a .icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}


.buttons .buttonGithub {
    background-color: #24292E;
}

.buttons .buttonInstagram {
    background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000) 
}

.buttons .buttonLinkedIn {
    background-color: #095CAF;
    
}